
@media (min-width: 1200px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
	.LeButton {
    	padding: 145px 37px 0 18px;
	}

	.icon-section, .icon-section1, .icon-section2, .team, .team1, .team2 {
    	display: -webkit-flex;
    	-webkit-align-items: center;
    	display: flex;
    	align-items: center;
    	padding: 0;
    	-webkit-flex-direction: column;
    	flex-direction: column;
	}

	.icon-section h3, .icon-section h4, .icon-section1 h3, .icon-section1 h4, .icon-section2 h3, .icon-section2 h4, .icon-section2 img, .team h3, .team h4, .team p, .team a, .team1 h3, .team1 h4, .team1 p, .team1 a, .team2 h3, .team2 h4, .team2 p, .team2 a {
		padding-left: 0;
		margin-left: 0;
	}

	.message-wrap h2 {
		padding: 0;
		text-align: center;
	}

	.mail h3, .mail p, .location h3, .location p, .skype h3, .skype p {
		padding-left: 0;
		margin-left: 0;
	}

	.mailText, .locationText, .skypeText {
    	padding-left: 50px;
	}

	.location {
    	margin-left: 30px;
	}

	.mail {
		margin-left: 0;
	}

	.skype {
    	margin-left: 0;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.icon-section, .icon-section1, .icon-section2, .team, .team1, .team2 {
    	display: -webkit-flex;
    	-webkit-align-items: center;
    	display: flex;
    	align-items: center;
    	padding: 0;
    	-webkit-flex-direction: column;
    	flex-direction: column;
	}

	.icon-section h3, .icon-section h4, .icon-section1 h3, .icon-section1 h4, .icon-section2 h3, .icon-section2 h4, .icon-section2 img, .team h3, .team h4, .team p, .team a, .team1 h3, .team1 h4, .team1 p, .team1 a, .team2 h3, .team2 h4, .team2 p, .team2 a {
		padding-left: 0;
		margin-left: 0;
	}

	.social {
    	padding: 40px 0 40px 19px;
	}

	.LeButton {
    	padding: 18% 10% 0 3%;
	}

	.dexter-laboratory {
    	padding: 17% 0 0 12px;
	}
	
	.message-wrap h2 {
    	padding-left: 3%;
    	font-size: 27px;
   }

   .mail h3, .mail p, .location h3, .location p, .skype h3, .skype p {
   		padding-left: 0;
   }

   .mailText, .locationText, .skypeText {
    	padding-left: 50px;
	}

	.location {
    	margin-left: 0;
	}

	.skype {
    	margin-left: 40px;
	}

}

@media (min-width: 544px) and (max-width: 767px) {
	.LeButton {
    	padding: 60px 20px 0 20px;
	}

	.edit-img {
    	padding: 100px 0px 0 0px;
	}

	.btn-info {
		margin: 50px auto 0 auto;
		display: table;
	}

	.LeButton h1, .LeButton p {
		text-align: center;
	}

	.social {
    	padding: 150px 0 50px 0;
	}

	.social h6 {
    	text-align: center;
	}

	.icon-section, .icon-section1, .icon-section2, .team, .team1, .team2 {
    	display: -webkit-flex;
    	-webkit-align-items: center;
    	display: flex;
    	align-items: center;
    	padding: 0;
    	-webkit-flex-direction: column;
    	flex-direction: column;
	}

	.icon-section h3, .icon-section h4, .icon-section1 h3, .icon-section1 h4, .icon-section2 h3, .icon-section2 h4, .icon-section2 img, .team h3, .team h4, .team p, .team a, .team1 h3, .team1 h4, .team1 p, .team1 a, .team2 h3, .team2 h4, .team2 p, .team2 a {
		padding-left: 0;
		margin-left: 0;
	}

	.testimonial-content {
    	padding: 10% 0 0 13.9%;
	}

	.dexter-laboratory {
		margin-top: -100px;
	}

	.mail h3, .mail p, .location h3, .location p, .skype h3, .skype p {
		padding-left: 0; 
	}

	.mail, .location, .skype {
		margin-left: 0;
	}

	.location, .skype {
		margin-top: 40px;
	}

	.skypeText, .locationText, .mailText {
		padding-left: 50px;
	}

	.message-wrap h2 {
		padding: 0 5% 0 5%;
	}

}

@media (min-width: 320px) and (max-width: 543px) {
	.LeButton {
    	padding: 60px 20px 0 20px;
	}

	.LeButton h1, .LeButton p, .social h6 {
		text-align: center;
	}
	
	.LeButton h1 {
		font-size: 50px;
	}

	.btn-info {
		display: table;
		margin: 40px auto 0 auto;
	}

	.edit-img {
    	padding: 75px 0px 0 0px;
    	margin-bottom: -72px;
	}

	.edit-img img {
		margin: 0 auto; 
	}

	.social {
		padding: 85px 0 30px 0px;
	}

	.icon-section, .icon-section1, .icon-section2, .team, .team1, .team2 {
    	display: -webkit-flex;
    	-webkit-align-items: center;
    	display: flex;
    	align-items: center;
    	padding: 0;
    	-webkit-flex-direction: column;
    	flex-direction: column;
	}

	.icon-section h3, .icon-section h4, .icon-section1 h3, .icon-section1 h4, .icon-section2 h3, .icon-section2 h4, .icon-section2 img, .team h3, .team h4, .team p, .team a, .team1 h3, .team1 h4, .team1 p, .team1 a, .team2 h3, .team2 h4, .team2 p, .team2 a {
		padding-left: 0;
		margin-left: 0;
	}

	.icon-section1, .icon-section2 {
		padding-top: 60px;
	}

	.testimonial-content {
    	padding: 20% 0 0 13.9%;
	}

	.dexter_s_lab-content {
    	padding: 25% 0 0 0;
	}

	.dexter_s_lab-content img{
    	margin: 0 auto;
	}

	.testimonial-content h2 {
		font-size: 50px;
	}

	.dexter-laboratory {
    	padding: 20% 0 0 12px;
	}

	.DreamTeam {
    	padding: 100px 0 138px 0;
	}

	.team1, .team2 {
		padding-top: 100px;
	}

	.message {
    	padding: 56px 10% 59px 10%;
    	margin-left: 0;
    	letter-spacing: 0;
    	text-align: center;
  	}

  	.mail h3,.message-wrap h2, .mail p, .location h3, .location p, .skype h3, .skype p {
		padding-left: 0;
	}

	.logo {
    	padding: 6.4% 8.8%;
	}

	.footer-wrap {
		padding: 0 30px 0 30px;
	}

	.locationText, .skypeText {
    	margin-top: 40px;
	}

	.btn-info {
		border-color: #fff;
	}

	.mail, .location, .skype {
		margin-left: 0;
	}

	.skypeText, .locationText, .mailText {
		padding-left: 50px;
	}

}