
@media (min-width: 1200px) {
	
}

@media (min-width: 992px) and (max-width: 1199px) {
	.navbar-light .navbar-nav .nav-link {
		margin-left: 15px;
	}

	#main ul {
		padding-right: 20px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	
	.download-content {
		padding: 111px 0 0 0;
	}

	.button-dc {
		margin-top: 0px;
	}

	.news {
		padding: 68px 0 58px 0;
	}

	.news-img img {
    	padding-top: 190px;
	}

	.img-block img {
		margin: 0 auto;
	}

	.google_button_footer {
		margin: 0;
	}
	
	.line1 {
		padding: 46px 0 66px 0;
	}

	.line2 {
		padding-top: 20px;
	}
}

@media (min-width: 544px) and (max-width: 767px) {
	
	.navbar-light .navbar-nav .nav-link {
		font-size: 15px;
		margin: 0;
	}

	#main ul {
		padding-top: 22px;
	}

	.mainDownload {
		padding: 5rem 0 0 0;
	}

	.bx-wrap {
		margin: 70px 0 0 0;
	}

	.google_button_footer {
		margin: 0;
	}

	.line1 {
		padding: 46px 0 66px 0;
	}

	.line2 {
		padding-top: 30px;
	}

	.news {
		padding: 80px 0 40px 0;
	}
}

@media (min-width: 320px) and (max-width: 543px) {
	#main ul {
		padding-top: 22px;
	}

	.navbar-light .navbar-nav .nav-link {
		font-size: 10.2px;
		margin: 0;
	}

	.about-text h1 {
		font-size: 45px;
	}

	.navbar-toggler {
		color: #ffffff;
	}

	.mainDownload {
		padding: 4rem 0 0 0;
	}

	.bx-wrap {
		padding-top: 50px;
	}

	.social-content {
		float: none;
	}

	.line2-content {
		text-align: center;
	}
	
	.line1 {
		padding: 46px 0 92px 0;
	}

	.line2 {
		padding-top: 28px;
	}

	.news {
		padding: 58px 0 29px 0;
	}

	.footer-text h4 {
		font-size: 13px;
	}

	.download-content {
		padding: 120px 0 0 0;
	}

	.works {
		padding: 100px 0 20px 0;
	}
}