
@font-face {
    font-family: 'sf_ui_displaythin';
    src: url('../fonts/sfuidisplay-thin-webfont.woff2')
}

@font-face {
    font-family: 'sf_ui_displaymedium';
    src: url('../fonts/sfuidisplay-medium-webfont.woff2')
}

@font-face {
    font-family: 'sf_ui_displayregular';
    src: url('../fonts/sfuidisplay-regular-webfont.woff2')
}

@font-face {
    font-family: 'sf_ui_displaylight';
    src: url('../fonts/sfuidisplay-light-webfont.woff2')
}

p {
	font-family: 'sf_ui_displaythin';
	font-size: 17.1px;
	line-height: 30px;
}

h2 {
	font-family: 'sf_ui_displaylight';
	font-size: 38px;
}

h3 {
	font-size: 19px;
	color: #00a94c;
	font-family: 'sf_ui_displayregular';
}

.wrapper {
	max-width: 1920px;
	min-width: 320px;
}

.mainDownload {
	padding: 7.6rem 0 0 0;
}

#main {
	background: url(../img/parttern.jpg) center center no-repeat;
	background-size: cover;
}

.about-text {
	background: rgba(0,169,76,1);
	color: #000;
	padding: 2.1rem 1.6rem 2.5rem 1.6rem;
	margin-bottom: -4rem;
	box-shadow: 0 16px 39px rgba(0,169,76,0.46);
}

.about-text h1 {
	font-size: 47.49px;
	color: #ffffff;
	line-height: 57.5px;
	font-family: 'sf_ui_displaythin';
	font-weight: normal;
	padding-bottom: 4px;
}

.about-text p {
	font-size: 17.1px;
	color: #ffffff;
	line-height: 28.5px;
	font-family: 'sf_ui_displaythin';
	font-weight: normal;
	letter-spacing: 1px;
}

.bg-faded {
	background-color: transparent;
}

.btn-secondary-outline {
	border-radius: 0;
	border: 2px solid #ffffff;
	text-transform: uppercase;
	font-size: 15.2px;
	color: #ffffff;
	margin-top: 26px;
    padding: 11px 38px;
}

.navbar-light .navbar-nav .nav-link {
	color: #ffffff;
	font-family: 'sf_ui_displayregular';
	text-transform: uppercase;
	font-size: 18.2px;
	padding: 7px 0 0 0;
	margin-left: 26px;
}

.navbar-light .navbar-nav .nav-link:hover {
	border-top: 2px solid;
	color: #00a94c;
}

#main ul {
	float: right;
	padding-top: 15px;
}

.btn-success {
	border-radius: 0;
	font-family: 'sf_ui_displaymedium';
	font-size: 15px;
	color: #ffffff;
	background-color: #00a94c;
	border-color: #00a94c;
	float: right;
	text-transform: uppercase;
	margin-top: 24px;
	padding: 7px 20px;
}

#main img {
	margin-top: 9px;
}


/*--------------------------works----*/


.works {
	padding: 140px 0 74px 0;
}

.works h3 {
	text-transform: uppercase;
	font-size: 19px;
	font-family: 'sf_ui_displayregular';
	color: #00a94c;
}

.works h2 {
	font-size: 38px;
	font-family: 'sf_ui_displaylight';
	color: #333333;
	padding: 33px 0 7px 0;
}

.media-wrap {
	padding-top: 71px;
}

.media-padding {
	padding-top: 9px;
}
/*--------------------------works----*/
/*--------------------------grap-----*/

.icongrap {
	position: relative;
    bottom: 86px;
    left: 85%;
}

/*--------------------------grap-----*/

/*-----------------------Download----*/


.download {
	padding: 68px 0;
}

.button-dc {
	margin-top: 30px;
}

.title-content h3 {
	padding: 10px 0 37px 0;
	color: #00a94c;
}

.download-content h2 {
	color: #333333;
	padding-bottom: 8px;
}

.download-content {
	padding: 150px 0 0 0;
}


/*-----------------------Download----*/
/*---------------------------News----*/


.news {
	padding: 144px 0 58px 0;
}

.news .btn-success-outline {
	border: 2px solid;
    border-radius: 0;
    font-family: 'sf_ui_displaymedium';
    font-size: 18px;
    padding: 9px 31px;
    margin-top: 32px;
}

.news-title-content h3 {
	padding: 9px 0 31px 0;
}


.news-title-content h2 {
	line-height: 56px;
}

.date {
	font-size: 13.3px;
	color: #999999;
	font-family: 'sf_ui_displaylight';
}

.news-img img {
	padding-top: 71px;
}

.over-text1 {
	font-size: 11.4px;
	color: #d9d9d9;
	font-family: 'sf_ui_displaylight';
}

.list-news {
	font-size: 13.3px;
	color: #ffffff;
	font-family: 'sf_ui_displaymedium';
	padding-left: 5px;
	margin-top: 62px;
}

.list-news a {
	text-decoration: none;
}

/*---------------------------наведение--*/
.img-block {
    display:block;
    overflow: hidden;
    position: relative;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    cursor:pointer;
}
.img-block .over_block {
    background-color:rgba(0, 160, 150, 0);
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index: 9900;
    -moz-transition:all 1s;
    -webkit-transition:all 1s;
    -o-transition:all 1s;
    transition:all 1s;
}
.img-block:hover .over_block {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
}
.img-block span {
    width:100%;
    height:0px;
    position:absolute;
    display:block;
    overflow: hidden;
    bottom:0px;
    left:0;
    z-index: 9910;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.img-block:hover span {
    bottom:0;
    height:60px;
    color: #ffffff;
}
/*---------------------------наведение--*/


.viewMore_button a {
	text-decoration: none;
	font-family: 'sf_ui_displaymedium';
	color: #00a84c;
	font-size: 15.2px;
	border-bottom: 2px solid #00a84c;
	padding-bottom: 4px;
	display: table;
	margin: 0 auto;
}

.viewMore_button a:hover {
	color: #5cb85c;
	border-color: #5cb85c;
}
.viewMore_button {
	padding: 44px 0;
}


/*---------------------------News----*/
/*-------------------------footer----*/

/*-------------------------footer----*/
/*--------------------------Line1----*/


.line1 {
	background: url(../img/img.jpg) top center no-repeat;
	background-size: cover;
	padding: 46px 0 135px 0;
}

.footer-text h4 {
	font-family: 'sf_ui_displaymedium';
	font-size: 15.2px;
	color: #ffffff;
	text-transform: uppercase;
	padding-top: 10px;
}

.footer-text ul {
	padding: 0;
}

.footer-text li {
	font-size: 13.3px;
	list-style: none;
	font-family: 'sf_ui_displaylight';
	line-height: 39px;
}

footer p {
	color: #ffffff;
	font-size: 13.3px;
	font-family: 'sf_ui_displaythin';
	padding-top: 9px;
}

.footer-text a {
	text-decoration: none;
	color: #ffffff;
}

.google_button_footer {
	margin-left: -30px;
}


/*--------------------------Line1----*/
/*--------------------------Line2----*/


.line2 {
	background: url(../img/img-1.jpg) center center no-repeat;
	background-size: cover;
	padding-top: 54px;
}

.line2-content a {
	color: #6c6c6c;
	font-size: 13.3px;
	font-family: 'sf_ui_displayregular';
	text-decoration: none;
}

.greenText {
	color: #00a94c;
}

.social-content {
	float: right;
}

.social-content> ul > li> a {
	display: block;
	width: 27px;
	height: 27px;
	background: url(../img/shape-5-icon.png) no-repeat;
}

.social-content a.facebook {
	background-position: -81px 0; 
}

.social-content a.pinterest {
	background-position: -27px 0; 
}

.social-content a.googleplus {
	background-position: -54px 0; 
}

.social-content a.rss {
	background-position: -108px 0; 
}

.social-content ul {
    text-align: justify;
    margin: 0;
}
 
.social-content ul li {
    width: 27px;
    height: 27px;
    display: inline-block;
    text-align: left;
    /* эмуляция inline-block для IE6-7*/
    //display : inline;
    //zoom : 1;
}

.social-content ul li.helper {
    width: 100%;
    height: 0;
    visibility: hidden;
}


/*--------------------------Line2----*/

.animated.zoomInDown,.animated.fadeInLeft,.animated.fadeInRight,.animated.flipInX,.animated.zoomInRight {
	opacity: 1;
}

.grab-car, .title-content, .download-content, .news-title-content, .news-img {
	opacity: 0;
}