* {
	font-family: 'Asap', sans-serif;
}

p, h1, h2, h3, h4 {
	margin: 0;
}

/*.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12 {
	padding: 0;
}

.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12 {
	padding: 0;
}

.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12 {
	padding: 0;
}

.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
	padding: 0;
}*/

.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
	padding: 0;
}


.wrapper {
	max-width: 4000px;
}

/*-----Jumbotron----*/
.jumbotron {
	background: url(../img/lab_backgroun.jpg) center center no-repeat;
	background-size: cover;
	padding: 0;
	margin: 0;
}

.logo {
	padding: 3.4% 1.8%;	
}

.LeButton {
	padding: 37% 10% 0 3%;
}

.LeButton h1 {
	color: #ffffff;
	font-size: 55px;
	font-family: 'Asap';
	font-weight: 700;
	line-height: 66px;
	letter-spacing: 2.8px;
}

.LeButton p {
	font-size: 18px;
	line-height: 30px;
	color: #ffffff;
	padding-top: 4%;
    letter-spacing: 0.9px;
}

.btn-info {
	color: #ffffff;
	font-weight: 700;
	font-size: 18px;
	margin: 6.6% 0 0 2px;
    padding: 16px 45px;
    border-radius: 8px;
    background-color: #49b9e6;
    border-color: #49b9e6;
}

.edit-img {
	padding: 6.7% 0px 0 19.1%;
	margin-bottom: -26%;
}

.content2 {
	background-color: rgba(0, 132, 184, 0.5);
}

.social {
	padding: 81px 0 81px 19px;
}

.social h6 {
	font-size: 15px;
	line-height: 25px;
	color: #ffffff;
}

/*-----Jumbotron----*/





/*-----content3----*/

.content3 {
	background-color: #0084b8;
	padding: 103px 0 119px 0px;
}

.content3-wrap h3 {
	font-size: 55px;
	line-height: 25px;
	color: #ffffff;
	font-family: 'Asap';
	font-weight: 700;
	padding-top: 39px;
}

.content3-wrap h4 {
	font-size: 18px;
	line-height: 25px;
	color: #ffffff;
	font-family: 'Asap';
	padding-top: 23px;
}

.icon-section {
	padding: 0 0 0 36%;
}

.icon-section1 {
	padding: 0 0 0 111px;
}

.icon-section2 {
	padding: 0 0 0 62px;
}

.icon-section2 img {
	padding-left: 27px;
}

.icon-section h3 {
	padding-left: 35px;
}

.icon-section1 h3 {
	padding-left: 11px;
}

.icon-section2 h3 {
	padding-left: 34px;
}

.icon-section h4 {
	padding-left: 27px;
}

.icon-section1 h4 {
	padding-left: 14px;
}

.icon-section2 h4 {
	padding-left: 14px;
}


/*-----content3----*/
/*-----LonelyGingerBox----*/

.LonelyGingerBox {
	padding: 8.8% 0 0 0;
}

.testimonial-content {
	padding: 0 0 0 13.9%;
}

.testimonial-content h2 {
	font-family: 'Asap';
	font-weight: 700;
	font-size: 55px;
	color: #000000;
}

.testimonial-content h3 {
	font-family: 'Asap';
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	padding: 6.5% 8% 0 3px;
}

.testimonial-content p {
	font-family: 'Asap';
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	opacity: 0.6;
	padding: 11.5% 21% 0 6.8%;
	display: inline-block;
}

.testimonial-content h4 {
	font-family: 'Asap';
	font-size: 18px;
	line-height: 30px;
	color: #00a3e4;
	padding: 9.7% 0 0 6.3%;
	display: inline-block;
}

.Mandark-icon {
	float: right;
	display: block;
	margin: -2% 5.3% 0 0px;
}

.dexter_s_lab-content {
	padding: 12.8% 0 0 15.8%;
}


/*-----LonelyGingerBox----*/
/*-----FightingForPowerBox----*/

.FightingForPowerBox {
	padding: 9.3% 0 0 0;
}

.FightingForPowerBox h2 {
	font-size: 55px;
	font-family: 'Asap';
	font-weight: 700;
	color: #000000;
}

.FightingForPowerBox h3 {
	font-size: 18px;
	line-height: 30px;
	font-family: 'Asap';
	color: #000000;
}

.dexter-laboratory {
	padding: 0 0 0 12px;
}

.group9-content {
	padding: 13.5% 0 0 3%;
}

.group9-content h3 {
	padding: 6.5% 0 0 2px;
}

.group9-content .btn-info {
	margin: 7% 0 0 2px;
	border-radius: 6px;
}

/*-----FightingForPowerBox----*/
/*-----DreamTeam----*/

.DreamTeam h3 {
	font-size: 35px;
	line-height: 30px;
	color: #000000;
	font-family: 'Asap';
	font-weight: 700;
	padding-top: 23px;
}

.DreamTeam h4 {
	font-size: 25px;
	line-height: 30px;
	color: #000000;
	opacity: 0.5;
	font-family: 'Asap';
	font-weight: 300;
	padding-top: 10px;
}

.DreamTeam p {
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	opacity: 0.6;
	text-align: center;
	padding-top: 42px;
}

.DreamTeam a {
	font-size: 18px;
	line-height: 30px;
	color: #00a3e4;
	display: block;
}

.DreamTeam {
	padding: 262px 0 138px 0;
}

.team {
	padding: 0 0 0 16%;
}

.team h3 {
	padding-left: 31.5%;
}

.team h4 {
	padding-left: 25.7%;
}

.team p {
	width: 235px;
	margin-left: 39px;
}

.team a {
	margin: 24px 0 0 40.2%;
}

.team1 {
	padding: 0 0 0 3%;
}

.team1 h3 {
	padding-left: 30.3%;
}

.team1 h4 {
	padding-left: 30.7%;
}

.team1 p {
	width: 225px;
	margin-left: 18%;
}

.team1 a {
	margin: 24px 0 0 40.6%;
}

.team2 {
	padding: 0 0 0 4%;
}

.team2 img {
	padding-left: 4px;
}

.team2 h3 {
	padding-left: 21.4%;
}

.team2 h4 {
	padding-left: 24.5%;
}

.team2 p {
	width: 220px;
	margin-left: 41px;
}

.team2 a {
	margin: 24px 0 0 33.4%;
}

/*-----DreamTeam----*/
/*-----Message----*/

.message {
	background-color: #f1c40f;
	padding: 56px 0 59px 0;
}

.message i {
	padding: 0 0 0 23px;
}

.message-wrap {
	color: #ffffff;
	font-weight: 700;
	font-size: 30px;
	line-height: 25px;
}

.message-wrap h2 {
	padding-left: 11.8%;
    letter-spacing: -0.8px;
}

/*-----Message----*/
/*-----Footer----*/

footer {
	background-color: #d8af0c;
	padding: 75px 0 57px 0;
}

footer h3 {
	font-weight: 700;
	font-size: 20px;
	line-height: 25px;
	color: #ffffff;
}

footer p {
	font-size: 16px;
	line-height: 25px;
	color: #ffffff;
}

.footer-wrap {
	padding: 0 5% 0 5%;	
}

.locationText, .skypeText {
	padding-left: 50px;
}

.mailText {
	padding-left: 33px;
}

.mail {
	margin-left: -34px;
}

.mail h3 {
	padding: 0 0 12px 6.3%;
	margin: 0;
}

.mail p {
	padding-left: 6.3%;
	line-height: 27px;
}

.location {
	margin-left: -24px;
}

.locationText {
    padding-left: 30px;
}

.location h3 {
	padding: 0 0 11px 9.5%;
}

.location p {
	padding-left: 9.5%;
    line-height: 26px;
}

.skype {
	padding: 0;
	margin-left: -9px;
}

.skypeText {
	padding-left: 34px;
}

.skype h3 {
	padding: 0 0 0 8%;
}

.skype p {
	line-height: 50px;
    padding-left: 8%;
}

.footerIconWrap {
	float: left;
}


/*-----Footer----*/

.LonelyGingerBox, .FightingForPowerBox, .icon-section, .icon-section1, .icon-section2, .team, .team1, .team2 {
	opacity: 0;
}

.animate.fadeIn, .animated.bounceInRight, .animated.bounceInLeft {
	opacity: 1;
}

.opacity_05s {
	-webkit-animation-delay: .5s;
	-moz-animation-delay: .5s;
	animation-delay: .5s;
}

.opacity_1s {
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}